body {
  font-family: 'Lora', serif;
  color: black;
}

#root {
  position: relative;
}

#root:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/breaking.png");
  width: 100%;
  height: 100%;
  opacity : 0.5;
  z-index: -1;
}

.navbar {
  background-color: rgb(211, 85, 85);
  height: 10rem;
}

.navbar-brand {
  font-size: 24px;
  padding-left: 10rem;
}

.nav-item {
  color: black;
}

.nav-item:hover {
  color: rgb(205, 243, 255);

}

.panel {
  background-color: rgba(144, 144, 144, 0.5);
}

.search-form {
  padding: 10px;
}

.input-field label {
  color: black;
}

